In [3]:
library(ggplot2)
library(tidyquant)
library(xts)
library(dplyr)
library(lubridate)

Warning message:
"package 'tidyquant' was built under R version 4.3.3"
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

Warning message:
"package 'xts' was built under R version 4.3.3"
Warning message:
"package 'zoo' was built under R version 4.3.3"
Warning message:
"package 'quantmod' was built under R version 4.3.3"
Warning message:
"package 'TTR' was built under R version 4.3.3"
Warning message:
"package 'PerformanceAnalytics' was built under R version 4.3.3"
── Attaching core tidyquant packages ──────────────────────── tidyquant 1.0.9 ──
✔ PerformanceAnalytics 2.0.4      ✔ TTR                  0.24.4
✔ quantmod             0.4.26     ✔ xts                  0.14.0
── Conflicts ────────────────────────────────────────── tidyquant_conflicts() ──
✖ zoo::as.Date()                 masks base::as.Date()
✖ zoo::as.Date.numeric()         masks base::as.Date.numeric()
✖ PerformanceAnalytics::legend() masks graphics::legend()
✖ quantmod::summary()            masks base::summary()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

######################### Warning from 'xts' package ##########################
#                                                                             #
# The dplyr lag() function breaks how base R's lag() function is supposed to  #
# work, which breaks lag(my_xts). Calls to lag(my_xts) that you type or       #
# source() into this session won't work correctly.                            #
#                                                                             #
# Use stats::lag() to make sure you're not using dplyr::lag(), or you can add #
# conflictRules('dplyr', exclude = 'lag') to your .Rprofile to stop           #
# dplyr from breaking base R's lag() function.                                #
#                                                                             #
# Code in packages is not affected. It's protected by R's namespace mechanism #
# Set `options(xts.warn_dplyr_breaks_lag = FALSE)` to suppress this warning.  #
#                                                                             #
###############################################################################


Attaching package: 'dplyr'


The following objects are masked from 'package:xts':

    first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union



Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

In [9]:
stock_prices <- c("AAPL","GOOG","NFLX") %>%
    tq_get(get="stock.prices",from="2010-01-01", to="2024-09-24")

In [12]:
head(stock_prices)

  symbol date       open     high     low      close    volume    adjusted
1 AAPL   2010-01-04 7.622500 7.660714 7.585000 7.643214 493729600 6.454506
2 AAPL   2010-01-05 7.664286 7.699643 7.616071 7.656429 601904800 6.465664
3 AAPL   2010-01-06 7.656429 7.686786 7.526786 7.534643 552160000 6.362819
4 AAPL   2010-01-07 7.562500 7.571429 7.466071 7.520714 477131200 6.351058
5 AAPL   2010-01-08 7.510714 7.571429 7.466429 7.570714 447610800 6.393281
6 AAPL   2010-01-11 7.600000 7.607143 7.444643 7.503929 462229600 6.336881

The adjusted closing price amends a stock's closing price to reflect that
stock's value after accounting for any corporate actions, such as stock
splits, dividends, and rights offerings.
The closing price is the raw price, which is just the cash value of the last
transacted price before the market closes

In [13]:
stock_returns_monthly = stock_prices %>% group_by(symbol) %>% tq_transmute(select = adjusted,mutate_fun = periodReturn,period="monthly",'col_rename'="Ra")

In [16]:
head(stock_returns_monthly)

  symbol date       Ra
1 AAPL   2010-01-29 -0.10256522
2 AAPL   2010-02-26  0.06539598
3 AAPL   2010-03-31  0.14847000
4 AAPL   2010-04-30  0.11102165
5 AAPL   2010-05-28 -0.01612450
6 AAPL   2010-06-30 -0.02082720

In [15]:
wts = c(.4,.3,.3)

portfolio_returns_monthly = stock_returns_monthly %>% tq_portfolio(assets_col = symbol,returns_col = Ra,weights=wts,col_rename="Ra")

In [17]:
head(portfolio_returns_monthly)

  date       Ra
1 2010-01-29 -0.03816920
2 2010-02-26  0.04500673
3 2010-03-31  0.11861220
4 2010-04-30  0.15126660
5 2010-05-28  0.03219116
6 2010-06-30 -0.03255447