In [5]:
library(dplyr)
library(Ecdat)

Warning message:
"package 'Ecdat' was built under R version 4.3.3"
Loading required package: Ecfun

Warning message:
"package 'Ecfun' was built under R version 4.3.3"

Attaching package: 'Ecfun'


The following object is masked from 'package:base':

    sign



Attaching package: 'Ecdat'


The following object is masked from 'package:datasets':

    Orange

In [11]:
data(Star)

In [25]:
my_data = Star

In [26]:
my_data = filter(my_data,classk=="small.class"|classk=="regular")

In [27]:
head(my_data)

   tmathssk treadssk classk      totexpk sex  freelunk race  schidkn
2  473      447      small.class  7      girl no       white 63
3  536      450      small.class 21      girl no       black 20
11 559      448      regular     16      boy  no       white 69
12 489      447      small.class  5      boy  yes      white 79
13 454      431      regular      8      boy  yes      white  5
21 500      451      regular      3      girl no       white 56

In [28]:
my_data$totalscore = my_data$tmathssk + my_data$treadssk

In [29]:
my_data$small = with(my_data, ifelse(classk =="small.class", 1, 0))
my_data$boy = with(my_data, ifelse(sex =="boy", 1, 0))
my_data$whiteother = with(my_data, ifelse(race =="white", 1, 0))
my_data$freelunch = with(my_data, ifelse(freelunk =="yes", 1, 0))

In [30]:
head(my_data)

   tmathssk treadssk classk      totexpk sex  freelunk race  schidkn totalscore
2  473      447      small.class  7      girl no       white 63       920
3  536      450      small.class 21      girl no       black 20       986
11 559      448      regular     16      boy  no       white 69      1007
12 489      447      small.class  5      boy  yes      white 79       936
13 454      431      regular      8      boy  yes      white  5       885
21 500      451      regular      3      girl no       white 56       951
   small boy whiteother freelunch
2  1     0   1          0
3  1     0   0          0
11 0     1   1          0
12 1     1   1          1
13 0     1   1          1
21 0     0   1          0

In [35]:
small_lm = lm(small~boy+totexpk+whiteother+freelunch,data = my_data)
summary(small_lm)

Call:
lm(formula = small ~ boy + totexpk + whiteother + freelunch,
    data = my_data)

Residuals:
    Min      1Q  Median      3Q     Max
-0.4743 -0.4647 -0.4569  0.5349  0.5508

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.4650322  0.0250795  18.542   <2e-16 ***
boy         -0.0003431  0.0163605  -0.021    0.983
totexpk     -0.0007382  0.0014409  -0.512    0.608
whiteother   0.0081225  0.0195025   0.416    0.677
freelunch    0.0011248  0.0181543   0.062    0.951
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.499 on 3728 degrees of freedom
Multiple R-squared:  0.0001086,	Adjusted R-squared:  -0.0009643
F-statistic: 0.1012 on 4 and 3728 DF,  p-value: 0.9821

In [36]:
total_score_lm = lm(totalscore~small,data = my_data)
summary(total_score_lm)

Call:
lm(formula = totalscore ~ small, data = my_data)

Residuals:
    Min      1Q  Median      3Q     Max
-282.94  -53.05   -6.94   45.06  320.95

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  917.942      1.670 549.615  < 2e-16 ***
small         14.109      2.451   5.756 9.32e-09 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 74.69 on 3731 degrees of freedom
Multiple R-squared:  0.008801,	Adjusted R-squared:  0.008536
F-statistic: 33.13 on 1 and 3731 DF,  p-value: 9.32e-09

In [37]:
total_score_teach_exp_small_lm = lm(totalscore~small+totexpk,data = my_data)
summary(total_score_teach_exp_small_lm)

Call:
lm(formula = totalscore ~ small + totexpk, data = my_data)

Residuals:
    Min      1Q  Median      3Q     Max
-275.90  -52.75   -7.33   45.67  316.94

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 907.4293     2.5487 356.034  < 2e-16 ***
small        14.2098     2.4420   5.819 6.42e-09 ***
totexpk       1.1580     0.2127   5.445 5.52e-08 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 74.41 on 3730 degrees of freedom
Multiple R-squared:  0.01662,	Adjusted R-squared:  0.01609
F-statistic: 31.52 on 2 and 3730 DF,  p-value: 2.676e-14