In [2]:
#Approach #1 
#########################

# Ensure the dplyr package is loaded
if (!require(dplyr)) install.packages("dplyr")
library(dplyr)

In [4]:
data = data.frame(Letters = c("A","B","C","A","B","C","A","B"))

data

  Letters
1 A
2 B
3 C
4 A
5 B
6 C
7 A
8 B

In [6]:
# Use filter() to select A and B

select_AB = filter(data, Letters %in% c("A","B"))
select_AB

  Letters
1 A
2 B
3 A
4 B
5 A
6 B

In [8]:
# Use filter() to select either A or B

select_a_or_b = filter(data,Letters=="A" | Letters =="B")

select_a_or_b

  Letters
1 A
2 B
3 A
4 B
5 A
6 B

In [10]:
#########################
#Approach #2
#########################


data_1 = data.frame(Letters = c("A","B","C","A","B","C","A","B"),Scores = c(10,15,10,20,15,20,4,25))
data_1

  Letters Scores
1 A       10
2 B       15
3 C       10
4 A       20
5 B       15
6 C       20
7 A        4
8 B       25

In [13]:
# Filter to select A and B with score condition

select_AB_scores = filter(data_1,Letters %in% c("A","B") & Scores >10)
select_AB_scores

  Letters Scores
1 B       15
2 A       20
3 B       15
4 B       25

In [14]:
# Filter to select either A or B, regardless of score

selected_a_b  = filter(data_1,Letters=="A" | Letters =="B")
selected_a_b

  Letters Scores
1 A       10
2 B       15
3 A       20
4 B       15
5 A        4
6 B       25