In [9]:
library(tidyquant)
library(xts)
library(PerformanceAnalytics)
library(ggplot2)
library(zoo)
library(lubridate)
library(riingo)

Warning message:
"package 'riingo' was built under R version 4.3.3"

In [6]:
install.packages("riingo")

Installing package into 'C:/Users/Will/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

package 'riingo' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Will\AppData\Local\Temp\Rtmpi0sYIo\downloaded_packages

In [4]:
api_key = "0a0d84f85b842f9284295d83e55b5ce975c52777"

In [10]:
tiingo_api_key(api_key)

Token has been set for this R session only. It is recommended to instead set the `RIINGO_TOKEN` environment variable in an `.Renviron` file using `usethis::edit_r_environ()`, and then restart R.

In [12]:
apple_prices = riingo_prices("AAPL")

In [13]:
head(apple_prices)

  ticker date       close  high    low    open   volume   adjClose adjHigh
1 AAPL   2023-10-09 178.99 179.050 175.80 176.81 42390772 178.0848 178.1445
2 AAPL   2023-10-10 178.39 179.720 177.95 178.10 43698019 177.4878 178.8111
3 AAPL   2023-10-11 179.80 179.850 177.60 178.20 47551098 178.8907 178.9404
4 AAPL   2023-10-12 180.71 182.340 179.04 180.07 56743119 179.7961 181.4178
5 AAPL   2023-10-13 178.85 181.930 178.14 181.42 51456082 177.9455 181.0099
6 AAPL   2023-10-16 178.72 179.075 176.51 176.75 52516984 177.8161 178.1694
  adjLow   adjOpen  adjVolume divCash splitFactor
1 174.9109 175.9158 42390772  0       1
2 177.0500 177.1993 43698019  0       1
3 176.7018 177.2988 47551098  0       1
4 178.1345 179.1593 56743119  0       1
5 177.2391 180.5025 51456082  0       1
6 175.6173 175.8561 52516984  0       1