In [6]:
library(tidyverse)

In [4]:
df <- read.csv( "meal_orders.csv")

head(df)

  id      week center_id checkout_price base_price emailer_for_promotion
1 1033240 109  10        583.00         584.00     0
2 1264380 108  10        670.33         670.33     0
3 1133093 115  10        687.73         689.73     0
4 1329545  63  10        618.89         617.89     0
5 1249888 131  10        727.53         727.53     0
6 1177302  65  10        485.03         609.19     1
  homepage_featured num_orders meal_id category cuisine     city_code
1 0                 485        2956    Fish     Continental 590
2 0                  94        2867    Seafood  Continental 590
3 0                 161        2867    Seafood  Continental 590
4 0                  80        2867    Seafood  Continental 590
5 0                  82        2867    Seafood  Continental 590
6 1                 460        2867    Seafood  Continental 590
  region_code center_type op_area
1 56          TYPE_B      6.3
2 56          TYPE_B      6.3
3 56          TYPE_B      6.3
4 56          TYPE_B      6.3
5 56          TYPE_B      6.3
6 56          TYPE_B      6.3

To find out annual demand, we sum number of orders from different centers, calculate the average weekly demand for each meal, and order them by the annual demand which is weekly demand *52.

In [5]:
df2 = df %>%
  group_by(meal_id, category, cuisine, week) %>%
  summarise(order_sum = sum(num_orders), .groups = 'drop') %>%
  group_by(meal_id) %>%
  summarise(weekly_demand = mean(order_sum), .groups = 'drop') %>%
  mutate(annual_demand = weekly_demand * 52) %>%
  arrange(desc(annual_demand))

df2

   meal_id weekly_demand annual_demand
1  2290    67381.400     3503832.80
2  1885    57560.317     2993136.50
3  1754    47021.097     2445097.02
4  1993    45909.352     2387286.29
5  1109    43915.676     2283615.14
6  2707    40915.807     2127621.96
7  1971    39507.724     2054401.66
8  2826    35104.159     1825416.25
9  1727    32661.979     1698422.92
10 1062    32502.034     1690105.79
11 2490    29673.000     1542996.00
12 2664    29329.414     1525129.50
13 2569    25848.054     1344098.82
14 1778    22816.434     1186454.59
15 1962    22315.724     1160417.66
16 2539    22307.090     1159968.66
17 2581    16544.828      860331.03
18 2322    15849.800      824189.60
19 2640    14381.793      747853.24
20 1230    12717.028      661285.43
21 1207    12419.697      645824.22
22 1558    12061.655      627206.07
23 1525    11857.779      616604.52
24 2704    11109.628      577700.63
25 1878    10634.669      553002.79
26 1311    10273.662      534230.43
27 1803    10186.331      529689.21
28 2760     9903.579      514986.12
29 2631     7518.152      390943.89
30 1445     7304.972      379858.57
31 2577     7046.448      366415.31
32 1198     7022.621      365176.28
33 2444     6500.469      338024.39
34 1248     6032.759      313703.45
35 1543     5455.428      283682.23
36 2867     4923.621      256028.28
37 1571     4654.391      242028.32
38 2304     4202.607      218535.56
39 2126     4121.241      214304.55
40 2492     3726.476      193776.74
41 1216     3679.752      191347.09
42 2956     3529.540      183536.09
43 2306     3493.793      181677.24
44 1438     2724.717      141685.30
45 2139     2627.566      136633.41
46 2494     2530.531      131587.61
47 1847     1914.724       99565.66
48 2104     1838.586       95606.48
49 1247     1599.290       83163.06
50 1902     1443.048       75038.51
51 1770     1315.234       68392.19

In [7]:
s = 500 # ordering cost
h = 1 # average storage cost for the meal
d = 3503833 # Annual Demand for Rice Bowls
EOQ = sqrt(2 * s * d/h) # Economic Order Quantity
EOQ

[1] 59193.18

In [ ]:
Q1 = EOQ
Q2 = 80001
Q3 = 120001

TC1 = d/Q1*500 + Q1*h/2 + d*200 # Total Cost for Discount 1
TC2 = d/Q2*500 + Q2*h/2 + d*190 # Total Cost for Discount 2
TC3 = d/Q3*500 + Q3*h/2 + d*180 # Total Cost for Discount 3

TC1
TC2

TC3

[1] 700825793

[1] 665790169

[1] 630764540

# Reorder Point Set Up

In [ ]:

df3 <- df %>%
  filter(meal_id == 2290) %>%
  group_by(meal_id, week) %>%
  summarise(order_sum = sum(num_orders), .groups = 'drop')

head(df3)
sd(df3$order_sum)
mean(df3$order_sum)

  meal_id week order_sum
1 2290    1     45326
2 2290    2     37337
3 2290    3     41190
4 2290    4     45211
5 2290    5    488252
6 2290    6    301437

[1] 60641.92

[1] 67381.4


# ROP: Reorder Point

ROP = Expected Demand During Leading Time + $Z\sigma_D(LT)^{0.5}$

It usually takes 3 weeks for the manufacturer to ship the meals ordered.  With the given data, estimate the reorder point for meal 2290 if it is expected to be in-stock for 90% of the time.  (Z=1.28)

In [11]:
ROP = mean(df3$order_sum) * 3 + 1.28 * sd(df3$order_sum) * sqrt(3)
ROP # meal id 2290 is 336,589 units

[1] 336588.8

In [13]:
mean(df3$order_sum) * 3

1.28 * sd(df3$order_sum) * sqrt(3)

[1] 202144.2

[1] 134444.6